{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="jumbotron">
  {% if current_user.is_authenticated() %}
    <h1>Hi {{ current_user.name }}!</h1>
  {% else %}
    <h1>Welcome to RapidTasker!</h1>
  {% endif %}
  <p>We're happy to welcome you in our brand new RapidTasker application!! From now on you can add, claim and resolve any ticket you find suitable for you. You'll just need to login. Have a nice day :) </p>

	Hello,
	{% if current_user.is_authenticated() %}
		{{ current_user.username }}
	{% else %}
		Stranger
	{% endif %}!
  <p align=right> RapidTasker upgrade team.</p>
  <p class="right"><a href="{{url_for('login')}}" class="btn btn-primary btn-lg" role="button">Login</a></p>
</div>

{% for task in tasks %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ task.title }}</div>
    <div class="panel-body">
      {{ task.description}}
    </div>
    <div class="panel-footer">Requester: {{task.user.username}}</div>
  </div>
{% endfor %}
{% endblock %}
